@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .container {
        width: 750px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        width: 650px;
    }

}

@media screen and (max-width: 680px) {
    .container {
        width: 480px;
    }

}


